body * {
  font:16px/1.5 arial,helvetica,clean,sans-serif;
}

#grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#grid > div {
  padding: 1rem;
}

#grid input[type=text] {
  height: 2.2rem;
  font-size: 1rem;
  padding: .5rem;
  width: 50%;
}

#grid label {
  width: 6rem;
  display: inline-block;
  text-align: right;
}

#grid #preview img {
  max-width: 300px;
}

h3 {
  font-size: 1.25rem;
  padding-bottom: .25rem;
  border-bottom: 1px solid;
  display: inline-block;
}

button {
  border: 1px solid #446;
  background-color: #446;
  color: #FFFFFF;
  font-size: 1rem;
  font-family: inherit;
  padding: .5rem .8rem;
  cursor: pointer;
  margin-top: 1rem;
}

button:hover {
  outline: 1px solid #fff;
  outline-offset: -3px;
}

label {
  font-weight: bold;
}